body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
  background-color: white;
  border-radius: 9px;
  padding: 30px;
	margin-bottom: 30px;
}

#title {
  color: white;
  text-align: center;
  font-size: xx-large;
  border: 9px;
  margin-top: 18px;
}

#description {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
